.counter{
    width: 100%;
    height: 200px;
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 4rem;
}
.counter .row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}
.counter .row .item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.item span:nth-child(1){
    font-size: 4rem;
}
.item h4 span{
    font-size: 2.7rem;
    font-weight: 600;
}
.item div>span{
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 600;
}
#dark .counter{
    background: #111;
}

@media screen and (max-width:767px) {
    .counter{
        height: 600px;
    }
    .counter .row .item{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0;
        margin-bottom: 1rem;
    }
    .counter .row{
        margin-top: -3rem;
    }
    .item span:nth-child(1){
        font-size: 2rem;
    }
}