.footer{
    width: 100%;
    height: auto;
    background-color: var(--dark-blue);
    color: var(--white);
    padding-bottom: 2rem;
}

.footer-inner{
    margin-top: -3rem;
}
.f-links{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#dark .footer{
    background: #111;
}
@media screen and (max-width:767px) {
    .footer-inner{
        margin-top: 2rem;
    }
}